@charset "utf-8";
.subnav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.subnav a {
  padding-left: 16px;
  background: url(../../images/listmark.png) no-repeat left 0 center;
  color: #1864b9;
  text-decoration: none;
}
.subnav a:hover {
  color: #0f3f74;
  text-decoration: underline;
}
