@charset "utf-8";
body {
  margin: 0;
}
form {
  padding: 16px;
}
input {
  box-sizing: border-box;
}
input[type="text"] {
  margin: 0.5em 0;
  border: 1px solid #ccc;
  padding: 0.5em;
  width: 100%;
  font-size: 16px;
  color: #999;
  border-radius: 6px;
}
input[type="text"]:focus {
  background-color: #e2ecf6;
}
.required {
  font-size: 0.75em;
  padding: 0.5em;
  color: #ff0000;
}
